
/* VARIABLES */

:root {
	--game-rows: 0;
	--game-columns: 0;
	--cell-bg-dark: #AAAAAA;
	--cell-bg-light: #CCCCCC;
}

/* UI */

#ui {
	display: flex;
	justify-content: space-between;
	max-width: calc(40px * var(--game-columns));
	margin-bottom: 20px;
	font-weight: bold;
	visibility: hidden;
}

.ui-title {
	font-size: 30px;
}

.ui-value {
	font-size: 18px;
}

#ui-timer {
	text-align: right;
}

/* GAME BOARD */

body {
	font-family: sans-serif;
	font-size: 10pt;
}

.game-board {
	display: inline-grid;
	background-color: var(--cell-bg-dark);
	grid-template-columns: repeat(var(--game-columns), 40px);
	grid-template-rows: repeat(var(--game-rows), 40px);
}

.cell {
	border: black solid 1px;
	background-color: var(--cell-bg-dark);
}

.cell-flagged {
	border: black solid 1px;
	background-image: url(flag.png);
	background-color: var(--cell-bg-dark);
    background-size: contain;
    background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 50%;
}

.cell-clicked {
	border: black solid 1px;
	background-color: var(--cell-bg-light);
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	font-weight: bold;
}

.cell-mine {
	border: black solid 1px;
	background-image: url(mine.png);
	background-color: var(--cell-bg-light);
	background-size: contain;
}

.cell-clicked-mine {
	border: black solid 1px;
	background-image: url(mine.png);
	background-color: red;
	background-size: contain;
}

/* CONTROLS */
input {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 50px;
}
.controls {
	margin-top: 30px;
}