
:root {
	--game-rows: 10;
	--game-columns: 10;
	--cell-bg-dark: #AAAAAA;
	--cell-bg-light: #CCCCCC;
}

body {
	font-family: sans-serif;
	font-size: 10pt;
}

div {
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}

.game-board {
	display: inline-grid;
	background-color: var(--cell-bg-dark);
	grid-template-columns: repeat(var(--game-columns), 50px);
	grid-template-rows: repeat(var(--game-rows), 50px);
}

.cell {
	border: black solid 1px;
	background-color: var(--cell-bg-dark);
}

.cell-flagged {
	border: black solid 1px;
	background-image: url(flag.png);
	background-color: var(--cell-bg-dark);
    background-size: contain;
    background-repeat: no-repeat;
	background-position-y: 50%;
	background-position-x: 50%;
}

.cell-clicked {
	border: black solid 1px;
	background-color: var(--cell-bg-light);
}

.cell-mine {
	border: black solid 1px;
	background-image: url(mine.png);
	background-color: var(--cell-bg-light);
}

.cell-clicked-mine {
	border: black solid 1px;
	background-image: url(mine.png);
	background-color: red;
}